# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db


# Ignore large intermediate files
outputs/features.pt
outputs/labels.pt

# Large datasets
datasets/

# Temporary files
*.log



venv/
__pycache__/
*.pyc
.env